
<div id="divForSelectPageWrapper">
<div id="divForSelectPageInnerWrapper">

  <div id="divForSelectAsideRt">  
  </div>  <!-- id="divForSelectAsideRt" -->

  <form id="fForSelectSearch">   
    <div id="ForSelectSearchTitle"><h2>Search Criteria</h2></div> 
      <div class="field">
        <label>Code</label>
        <input id="ftx_for_selects_S_code" type="text" />                
      </div>
      <div class="field">
        <label>Value</label>
        <input id="ftx_for_selects_S_value" type="text" />             
      </div>
      <div class="field">
        <label>Text</label>
        <input id="ftx_for_selects_S_text" type="text" />          
      </div>
      <div class="field"> 
        <label>Grouper</label>      
        <input id="ftx_for_selects_S_grouper" type="text" />        
      </div>
      <div class="field"> 
        <label>Option order</label>
        <input id="ftx_for_selects_S_option_order" type="text" />
      </div>
      <div class="field">
        <label>Facility</label>
        <select id="slt_for_selects_S_facility" name="slt_for_selects_S_facility"></select>
      </div>
      <input id="b_for_selects_select" type="submit" value="Search" />  
  </form>
  <div id="divGrid_for_selects"></div>



  <section id="divBelow">
    BELOW
  </section>
  
</div> <!-- id="divForSelectPageInnerWrapper" -->
</div> <!-- id="divForSelectPageWrapper" -->







<h1>Listing for_selects</h1>
<p><%= flash[:notice] %></p>

<table>
  <thead>
    <tr>
      <th>id</th>
      <th>Code</th>
      <th>Value</th>
      <th>Text</th>
      <th>Grouper</th>
      <th>Option order</th>
      <th>Facility</th>

      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @for_selects.each do |for_select| %>
      <tr>
        <td><%= for_select.id %></td>
         <td><%= for_select.code %></td>
        <td><%= for_select.value %></td>
        <td><%= for_select.text %></td>
        <td><%= for_select.grouper %></td>
        <td><%= for_select.option_order %></td>
        <td><%= for_select.facility %></td>      
        <td><%= link_to 'Show', for_select %></td>
        <td><%= link_to 'Edit', edit_for_select_path(for_select) %></td>
        <td><%= link_to 'Destroy', for_select, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New For select', new_for_select_path %>
