<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @user.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @user.lastname %>
</p>

<p>
  <strong>Authen:</strong>
  <%= @user.authen %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @user.facility %>
</p>

<p>
  <strong>Role:</strong>
  <%= @user.role %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Firstinitial:</strong>
  <%= @user.firstinitial %>
</p>

<p>
  <strong>Middleinitial:</strong>
  <%= @user.middleinitial %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @user.updated_by %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @user.facility %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
