<%= form_for(@patient) do |f| %>
  <% if @patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% @patient.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :firstname %><br>
    <%= f.text_field :firstname %>
  </div>
  <div class="field">
    <%= f.label :lastname %><br>
    <%= f.text_field :lastname %>
  </div>
  <div class="field">
    <%= f.label :number %><br>
    <%= f.text_field :number %>
  </div>
  <div class="field">
    <%= f.label :facility %><br>
    <%= f.text_field :facility %>
  </div>
  <div class="field">
    <%= f.label :ward %><br>
    <%= f.text_field :ward %>
  </div>
  <div class="field">
    <%= f.label :doa %><br>
    <%= f.date_select :doa %>
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob %>
  </div>
  <div class="field">
    <%= f.label :dod %><br>
    <%= f.date_select :dod %>
  </div>
  <div class="field">
    <%= f.label :updated_by %><br>
    <%= f.text_field :updated_by %>
  </div>
  <div class="field">
    <%= f.label :facility %><br>
    <%= f.text_field :facility %>
  </div>
  <div class="field">
    <%= f.label :ward %><br>
    <%= f.text_field :ward %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
