<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @patient.firstname %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @patient.lastname %>
</p>

<p>
  <strong>Number:</strong>
  <%= @patient.number %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @patient.facility %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @patient.ward %>
</p>

<p>
  <strong>Doa:</strong>
  <%= @patient.doa %>
</p>

<p>
  <strong>Dob:</strong>
  <%= @patient.dob %>
</p>

<p>
  <strong>Dod:</strong>
  <%= @patient.dod %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @patient.updated_by %>
</p>

<p>
  <strong>Facility:</strong>
  <%= @patient.facility %>
</p>

<p>
  <strong>Ward:</strong>
  <%= @patient.ward %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
