<!-- <div>
	<ul class="sf-menu" id="example">
		<li>
			<a href="#"><%= image_tag 'rails.jpg', size: '8x10' %> INPATIENT</a>
		</li>
		<li>
			<%= link_to "Patients", patients_path %>
		</li>
		<li class="current">			 
			<a href="followed.html">menu item 1</a>
			<ul>
				<li>
					<a href="followed.html">menu item</a>
				</li>
				<li class="current">
					<a href="followed.html">long menu item sets sub width</a>
					<ul>
						<li class="current"><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="followed.html">menu item 2</a>
		</li>
		<li>
			<a href="followed.html">menu item 3</a>
			<ul>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li>
							<a href="followed.html">more</a>
							<ul>
								<li><a href="followed.html">inner</a></li>
								<li><a href="followed.html">inner</a></li>
								<li><a href="followed.html">inner</a></li>
								<li><a href="followed.html">inner</a></li>
							</ul>
						</li>

						<li><a href="followed.html">short</a></li>
						<li><a href="followed.html">short</a></li>
						<li><a href="followed.html">short</a></li>
						<li><a href="followed.html">short</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
				<li>
					<a href="followed.html">menu item</a>
					<ul>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
						<li><a href="followed.html">menu item</a></li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<a href="followed.html">Builders</a>
			<ul>
				<li><%= link_to("Users", users_path) %></li>
				<li><%= link_to("ForSelects", for_selects_path) %></li>
			</ul>
		</li>
		<li>
			<%= link_to("Home", static_pages_home_path) %>
		</li>	
	</ul>
	<br	/>
	<br />
</div> -->

<header id="header">
	<figure id="fig">
		<a href="#"><%= image_tag 'rails.jpg', size: '20x30' %></a>
		<span id='inpatient'>INPATIENT</span>
	</figure>
	<div id="navigation">
		<ul class="sf-menu" id="example">

			<li class="current">			 
				<a href="followed.html">menu item 1</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
					</li>
					<li class="current">
						<a href="followed.html">long menu item sets sub width</a>
						<ul>
							<li class="current"><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 2</a>
			</li>
			<li>
				<a href="followed.html">menu item 3</a>
				<ul>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li>
								<a href="followed.html">more</a>
								<ul>
									<li><a href="followed.html">inner</a></li>
									<li><a href="followed.html">inner</a></li>
									<li><a href="followed.html">inner</a></li>
									<li><a href="followed.html">inner</a></li>
								</ul>
							</li>

							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
							<li><a href="followed.html">short</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
					<li>
						<a href="followed.html">menu item</a>
						<ul>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
							<li><a href="followed.html">menu item</a></li>
						</ul>
					</li>
				</ul>
			</li>
			<li>
				<a href="followed.html">menu item 4</a>
			</li>	
		</ul>
	</div>
	<br id="clear_break">
</header>
