
<div id="divHeaderPageWrapper">
	<div id="layoutHeader">
		<div id="layoutFig">
			<a href="#"><%= image_tag 'rails.jpg', size: '20x28' %></a>
			<span id='inpatient'>INPATIENT</span>
		</div>
		<div id="layoutNavigation">
			<ul class="sf-menu" id="example">

				<li class="current">			 
					<a href="#">Notes</a>
					<ul>
						<li>
							<%= link_to("BioPsychoSocial Assessment", mx_assessments_path) %>
						</li>
						<li class="current">
							<a href="#">long menu item sets sub width</a>
							<ul>
								<li class="current"><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<%= link_to("patients", patients_path) %>
				</li>
				<li>
					<a href="#">menu item 3</a>
					<ul>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li>
									<a href="#">more</a>
									<ul>
										<li><a href="#">inner</a></li>
										<li><a href="#">inner</a></li>
										<li><a href="#">inner</a></li>
										<li><a href="#">inner</a></li>
									</ul>
								</li>

								<li><a href="#">short</a></li>
								<li><a href="#">short</a></li>
								<li><a href="#">short</a></li>
								<li><a href="#">short</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
						<li>
							<a href="#">menu item</a>
							<ul>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
								<li><a href="#">menu item</a></li>
							</ul>
						</li>
					</ul>
				</li>
				<li>
					<a href="#">menu item 4</a>
				</li>
				<li>
					<a href="#">builders</a>
					<ul>
						<li><%= link_to('users', users_path) %></li>
						<li><%= link_to('for_selects', for_selects_path) %></li>
						<li><%= link_to('widgets', widgets_path) %></li>
					</ul>
				</li>	
				<li><%= link_to('home', root_path) %></li>
			</ul>
		</div>
		<br id="layoutClear_break">
	</div>
</div>

