<!DOCTYPE html>
<html>
<head>
  <title>Rollify</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

</head>
<body class="<%= params[:controller] %>">
<%= render 'layouts/header.html.erb' %>
<%= yield %>

<script>
	 $(function(){
		// Load the superfish horizontal navigation menu
		jQuery('ul.sf-menu').superfish();

		// STYLE 
		$('#divTotalWrapper').addClass('pad_3_sides')
		$('#header').addClass('header')
		$('#fig').addClass('float_left pad_3_sides')
		$('#clear_break').addClass('clear_both');
		
	});
</script>
</body>
</html>
